<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-7  header-left ">
                <a class="navbar-brand ">
                    <img src="../../assets/7classesimage.jpg " style="width: 10%; height: auto;">


                </a>

            </div>
            <div class="col-5  header-right">
             

            <h6 class="align-items-center d-flex">  Take the test !</h6>
            <div>
                <button type="button" class="btn btn-primary btn-lg">Download Instapreps Now</button>


            
            </div> 
                

            </div>
        </div>
    </div>

</div>