.foot {
    background-color: #0000ff;
    color: white;
    background: linear-gradient(to  top right, #0000FF , 	#00FFFF);
}
.footer-text{
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 50px;
}
#chatwin {
    margin-right: 5px;
    text-align: center;
background-color: slategray;
margin-left: 1390px;
}

  
.footer-inside1{
    margin-top: 95px;
}
.footer-inside{
    margin-top: 80px;
}
.footer-links {
    margin-bottom: 30px;
}
.social{
margin-left: 180px;
width: 8%;
display: inline-block;
white-space:nowrap;
}
.social>  .twit{
    width: 0.2%;
}
#social1{
    width: 5%;
    }

