<footer class="foot">
    <div class="footer-part">
        <div class="container footer-links">
            <div class="row footer-text">
                <div class="col-3 footer-inside1">
                            <div>
                            <p class="font-weight-bold text-left">Only 7 students in a 1 batch</p>
                            <p class="font-weight-normal text-left">Because success needs special attention</p>
                            <p class="font-weight-bold text-left">
                                <span class="mail"><i class="fa fa-envelope"></i></span>
                                Contact@7classes.com
                            </p>
                            <p class="font-weight-bold text-left">
                                <span class="phone"><i class="fa fa-phone"></i></span>
                                +91-9769100305
                            </p>
                           </div>

                </div>
                <div class="col-3 footer-inside">
                    <div>
                    <p class="font-weight-bold text-left">Online classes</p>
                    <p class="font-weight-normal text-left">Class 4th-12th</p>
                    <p class="font-weight-normal text-left">Foundation</p>
                    <p class="font-weight-normal text-left">JEE main & Adv</p>
                    <p class="font-weight-normal text-left">Olympiads</p>
                     </div>
                    

                </div>
                <div class="col-3 footer-inside">
                    <div>
                    <p class="font-weight-bold text-left">Teacher login</p>
                    <p class="font-weight-normal text-left">Onboard Screen</p>
                    <p class="font-weight-normal text-left">Payment</p>
                    <p class="font-weight-normal text-left">Fee Structure</p>
                    <p class="font-weight-normal text-left">jEE /NEET Online Test</p> 
                   </div>
                </div>
                <div class="col-3 footer-inside">
                    <div>
                    <p class="font-weight-bold text-left">Our Mission</p>
                    <p class="font-weight-normal text-left">Our vision</p>
                    <p class="font-weight-normal text-left">Photo Gallery</p>
                    <p class="font-weight-normal text-left">Video Gallery</p>
                    <p class="font-weight-normal text-left">Grow Your buisness</p> 
                </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="social">
                       <a href="https://www.facebook.com/7classes/" target="_blank"><img src="../../assets/facebook.svg"></a>
                       <a href="https://www.facebook.com/7classes/" target="_blank"><img src="../../assets/linkedin.svg"></a> 
                       <a href="https://www.facebook.com/7classes/" target="_blank"><img id="twit" src="../../assets/twitter.svg"></a> 

                       <a href="https://www.facebook.com/7classes/" target="_blank"><img src="../../assets/instagram.svg"></a> 

                    </div>
                </div>
                <div class="col-4">
                    <p>@2019 7 Classes All Rights Reserved</p>
                </div>
                <div class="col-4">
                    <p>Terms & ConditionsPrivacy Policy</p>
                </div>
            </div>

        </div>
        <div id="social1">
        <a href="https://www.facebook.com/7classes/" target="_blank"><img src="../../assets/whatsapp.svg"></a> 
    </div>
    <div id="chatwin">
        <p >
            <span class="chat"><i class="fa fa-comment"></i></span>
           Chat with us
        </p>
    </div>
    
    </div>
    
</footer>