
            <section class="section-part" >
    <div class="container headings ">
        <h1 class="text-center font-weight-bold">
          7 Stars Test
        </h1>
        <h4 class="text-center ">Take the selection test</h4>
        <h4 class="text-center ">&</h4>

        <h4 class="text-center">Crack the Jee free of cost</h4>
         <div class="section-text">
             <p>
             India is a country of immense talent but scare resource.Due to this many kids doesnt get proper education.This 
             exploitation of resource is one of the few things holding india back 
             and that is why we teach JEE preparation and mentor 7 students for free 
             based on 3 round test. Share this as much as possible to make it reach 
             the corect and needfull.
         </p>
        </div>
        <h3 class=" text-center font-weight-bold">7 Reasons to join 7 Stars Test</h3>
        <div class="section-box">
           <ul class="list">
                <li>Crack JEE and shape your future free of cost <li> Learn with super 30 mentors
                <li>
                    Teachers are from IIT ,Nit & Super 30
                </li>
                <li>
                   Regular performance tracking with dedicated performance manager 
                </li>
                <li>
                    Regular confidence tracking with our self prep app                </li>
                <li>
                    Counselling Coovers motivational videos and pressure managements                 </li>
                <li>
                        Jee Centric Dpps created by super 30 mentors               
                 </li>
           </ul>
        </div>
<div class="container">
    <div class="row">
        <div class="col-6">
<h4 class="text-left">Test Covers</h4>
<div class="section-box1">
    <ul class="list1">
         <li> Math's 8th-12th</li> 
         <li>
            20 minutes 20 Questions
         </li>
         <li>
            No -ve marking
         </li>
         
    </ul>
 </div>
        </div>
        <div class="col-6">
<h4>
    Selection Procedures
</h4>
<div class="section-box1">
    <ul class="list1">
        <li> Math's 8th-12th</li> 
        <li>
           20 minutes 20 Questions
        </li>
        <li>
           No -ve marking
        </li>
         
    </ul>
 </div>
        </div>
    </div>

</div>
            
      

 
    </div>
    </section>